:root{
    --blue-color: #0084FD;
    --light-blue-color: #B5DDFF;
    --purple-color:#9792E4;
    --purple-dark-color:#605D83;
    --text-color-white: #fff;
    --text-color-grey:#5A6E7F;
    --text-color-purple:#9792E4;
}


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*****************GENERAL-RULES******************/
.container{
   max-width: 1200px;
   margin: auto;
   border: 1px solid red;
}


.flex{
    display: flex;
}

.space-between{
    justify-content: space-between;
}
.space-around{
    justify-content: space-around;
}

.align-center{
    align-items: center;
}

.px-2{
    padding: 0 2rem;
}


/*********************Header**********************/

.header-section{
    width: 100%;
    height: 80px;
    background-color: var(--blue-color);
    margin-bottom: 2rem;
}

/*********************Main**********************/

/*****Section-Info*****/

#section-info .card{
    margin: 1.5rem 1rem 1rem 1rem;
}


/*****Strategic-Plan*****/

#Strategic-plan{
    background-color: var(--purple-color);
}

#Strategic-plan .column{
    padding-bottom: 2rem;
}

/*****testimonials*****/

#testimonials .card{
    background-color: var(--purple-color);
    padding: 2rem;
    margin-bottom: 2rem;
}

#testimonials .card-test {
    margin: 1rem;
}


#testimonials .card-image {
    margin-bottom: 1rem;
}







/*******************Media Query******************/
/******Tablet******/
@media screen and (min-width:768px){
    .container{
        max-width 750px;
    }
     .cards {
        display: flex;
        flex-wrap: wrap;
        margin-left: -0.75rem;
        margin-right: -0.75rem;
       
    }

    .cards .card{
        margin-bottom: 1.5rem;
        margin-left: 0.75rem;
        margin-right: 0.75rem;
        width: calc(33.333% - 1.5rem);
        justify-content: space-around;
    
    }

    .cards .card:first-child{
        width: calc(66.666% - 1.5rem);
    }


}

/******Desktop******/
@media screen and (min-width:992px){
    .container{
        max: width 940px;
    }

    .cards .card:first-child{
       display: flex;
    }

    #Strategic-plan .columns{
        display: flex;
        align-items: flex-end;
    }

    #Strategic-plan .column{
        width: 50%;
        padding: 2rem;
    }
}


/******XL-Desktop******/
@media screen and (min-width:1200px){
    .container{
        max: width 1140px;
    }
}

/**************Debug-Rules**********************/

.debug .box {
    height: 80px;
    padding: 20px;
    background-color: var(--light-blue-color);
}

.cards .card:first-child{
    background-color: var(--light-blue-color);
}